@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
<iframe width="560" height="315"
        src="https://www.youtube.com/embed/x3FaQAzdLcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<p>
    Mynyl Vynyl was started in the 1990s when my love for records got to large for my basement.</br>
    So I decided to open a shop and share my love for Vinyls with others. Along the way I have descovered</br>
    new music and made new friends.
</p>
<h2>Events</h2>
<p>Everyother Thursday are the Record Friends Meetup. This meet up is at 7pm. </br>
    This event is for record lovers who want to share their love for music.</p>
